<div fxFill fxLayout="column">
    <div class="m-1" fxLayout="row" fxLayoutAlign="center center">
        <p>You are at Detail</p>
    </div>
    <div class="m-1" fxLayout="row" fxLayoutAlign="center center">
        <button type="button" class="m-1" color="primary" mat-raised-button [routerLink]="['/form']">Form</button>
        <button type="button" class="m-1" color="warn" mat-raised-button [routerLink]="['/main']">Main</button>
        <button type="button" class="m-1" mat-raised-button [routerLink]="['/']">Back</button>
    </div>
</div>