<div fxFill fxLayout="column">
    <div class="m-1" fxLayout="row" fxLayoutAlign="center center">
        <button type="button" class="m-1" mat-raised-button [routerLink]="['/']">Back</button>
    </div>
    <div fxFlex fxLayout="row" class="m-1" fxLayoutAlign="center stretch">
        <mat-card fxFlex="70" fxLayout="column">
            <form [formGroup]="form" fxLayout="column">
                <mat-form-field appearance="outline"> <!-- Name Input -->
                    <input type="text" matInput formControlName="name" placeholder="Your name.">
                    <mat-error *ngIf="form.get('name').hasError('required')">Please enter a name.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline"> <!-- Phone Input -->
                    <input type="text" matInput formControlName="phone" placeholder="Your phone no.">
                    <mat-error *ngIf="form.get('phone').hasError('required')">Please enter a phone no.</mat-error>
                    <mat-error *ngIf="form.get('phone').hasError('pattern')">Please enter a valid Singapore phone number.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline"> <!-- Email Input -->
                    <input type="email" matInput formControlName="email" placeholder="Your email.">
                    <mat-error *ngIf="form.get('email').hasError('required')">Please enter an email.</mat-error>
                </mat-form-field>
                <label id="_attending">Attending?</label>
                <mat-radio-group formControlName="attending" aria-labelledby="_attending">            
                    <mat-radio-button value="Count me in!" class="m-1">Count me in!</mat-radio-button>
                    <mat-radio-button value="Next time" class="m-1">Next time</mat-radio-button>
                </mat-radio-group>
                <button type="button" (click)="onSubmit()" mat-raised-button [disabled]="form.invalid" color="accent">Submit</button>
            </form>
        </mat-card>
    </div>
</div>